[submodule "devtools"]
	path = devtools
	url = https://github.com/dutradda/devtools.git
[submodule "asyncapi/docs-template"]
	path = asyncapi/docs-template
	url = https://github.com/dutradda/html-template.git
